<div class="col-md-4">
  <h3>All my books ({{count}})</h3>
  {{#link-to 'books.new' class="btn btn-primary btn-block btn-xs"}}New{{/link-to}}
  <ul class="list-group book-list">
  {{#each book in model }}
    <li class="list-group-item">
      {{#link-to 'books.book' book}}
        {{book.title}}
      {{/link-to}}
    </li>
  {{/each}}
  </ul>
</div>

<div class="col-md-8">
  {{outlet}}
</div>
